<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Testing</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython_stdlib.js"></script>
    <body onload="brython()">
        <script type="text/python">
            from browser import ajax, document, html, window
            import hashlib

            def on_complete(req):
                if req.status == 200 or req.status == 0:
                    window.location.href = "{{ url_for('result') }}"
                else:
                    document["result"].html = "error " + req.text

            usern = input("Enter the username that you'd like to sign up with: ")
            passw = input("Enter the password that you'd like to use: ")
            if passw == "":
                exit()
            passw = hashlib.sha256(passw.encode("UTF-8")).hexdigest()
            ajax.post(url="{{ url_for('createacc') }}", data={"user": usern, "passw": passw}, oncomplete=on_complete)
            
        </script>
    </body>
</html>