<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Testing</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython_stdlib.js"></script>
    <body onload="brython()">
        <script type="text/python">
            from browser import ajax, document, html, window
            import time
            import hashlib
            
            def on_complete(req):
                if req.status == 200 or req.status == 0:
                    window.location.href = "{{ url_for('result_transac') }}"
                else:
                    document["result"].html = "error " + req.text

            sending = input("Enter sender address (yours): ")
            receiving = input("Enter receiver addess (whoever you're sending to): ")
            amount = float(input("Enter amount: "))
            passw = hashlib.sha256(input("Enter password (for sending account): ").encode("UTF-8")).hexdigest()
            tim = time.time()
            ajax.post(url="{{ url_for('sendtransac') }}", data={"send": sending, "receive": receiving, "amount": amount, "verify": hashlib.sha256((str(tim) + passw).encode("UTF-8")).hexdigest(), "time": tim}, oncomplete=on_complete)
            
           
        </script>
    </body>
</html>